body {
  height    : 100%;
  border    : none;
  width:780px;
  margin-left: auto ;
  margin-right: auto ;
  overflow-x:hidden;
  background:#FBF5D0;
}

textarea {
    width: 460px;
    height: 120px;
}

.large-field {
	width: 460px;
}

th {
	font-weight: bold;
	float:left;
}

.small-font {
	font-size:small;
}

.xlarge-field {
	width: 460px;
}

.xlarge-field-inset {
    width: 520px;
}

.midItem {
	vertical-align:middle;
    line-height: 1.5em;
    height: 60px;
    margin-top: 4px
}

.results-field {
    width: 700px;
    height: 90%;
}

.spacer {
    width=780px;
    height=1px;
}

.spacer-long {
    width:780px;
    height:1px;
}

.tab-content {
    height: auto;
    overflow: auto;
    margin-bottom: 0px ;
}
.tabs {
    margin-bottom: 10px ;   
}
#preview {
    border: 1px solid #72B42D;   
}
.input-form {
    padding: 10px
}
.tabs-1 {
    margin-bottom: 0px ;
}

.got-chrome{
    position:fixed;
    top:30px;
    left:10px;
}

.a-got-chrome{
    text-decoration: none;   
    color: #285C00;
    font-weight: bold;
}