html
{
	height: 100%;
	background:#031634;	
	background-image: url('../img/robot.png');
	background-repeat: no-repeat;
	background-position: 100% 10px;
	background-attachment: fixed;
}

body {
	margin:20px 0px; padding:0px;
	text-align:center;
}

#content {
	width:780px;
	margin:0px auto;
	text-align:left;
	border: 1px solid #A89000;
}

.tab-content {
    height: auto;
    overflow: auto;
    margin-bottom: 0px ;
    
}

.tabs {
    margin-bottom: 10px ;   
    
}

.tab-body{
	border: 1px solid #031634;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.left-col {
	float:left;
	width:50%;
}

p.left-col{
	margin-right: 4em;
}

.right-col {
	float:right;
	width:50%;
}

.right-col h3{
	padding-left: 10px;
}

.profile {
	border:2px solid #031634;
}

header H4 {
	margin: -.4em 1.0em 1.0em 4.0em;
}

header H1 {
	margin-bottom: .05em;
	margin-top: .20em;
}

.skills {
	list-style: none;
	padding: 0 0 0 10px;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.skills li {
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 0 .1em;
}

.code {
	background-image: url(../img/java.png);
}

.services {
	background-image: url(../img/service.gif);
}

.db {
	background-image: url(../img/db.png);
}

.web {
	background-image: url(../img/internet.png);
}

.oss {
	background-image: url(../img/github.png);
}

.nix {
	background-image: url(../img/nix.png);
}

.teach {
	background-image: url(../img/teach.png);
}

ul.social {
	list-style: none;
	font-weight: bold;
	overflow: hidden;
}

ul.socail li {
	float: left;
    margin: 0 0 10px 0;
}

ul.social li a{
	display: block;
    width: 209px;
    padding: 8px;
    color: #00324b;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
}

ul.social li a:hover {
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
}

ul.social li a:active {
    background-color: rgba(0,0,0,0.2);
    top: 1px;
}

ul.social li a img {
    float: left;
    margin: 0 12px 0 0;
    border: none;
}

ul.social li a span.title {
    font-size: 16px;
    line-height: 28px;
}

ul.social li a span {
    font-size: 13px;
    font-weight: normal;
}

#lastFM {
	background:#031634;	
	float: left;
	width: 50%;
	height: 400px;
	overflow: auto;
}

#lastFM ul{
	list-style: none;
}

#lastFM ul li{
	font-size: smaller;
	color:#ffffff;
	border-width: 1px;
	border-color: #ffffff;
	border-style: none none dotted none;
}

#lastFM ul li #title {
	color:#ffffff;
	
}

#lastFM ul li #listen-date{
	font-size: smaller;
	color:#5084ED;
}
